body{
    margin: 0px;
	padding: 0px;
	font-family: monospace;
    
}
header{
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
	position: fixed;
	width: 100%;
}
.d-flex{
    display: flex;
    }
.justify-between{
    justify-content: space-between;
}
nav ul{
	list-style-type: none;
    padding: 40px;
    margin-top: 60px;
  
}
nav ul li{
	display: inline-block;
	
}
nav ul li a{
	text-decoration: none;
	color: #000;
	margin-right: 25px;
	transition: 1s all;
    font-family: monospace;
    font-size: 3em;
	
} 
nav ul li a.active{
	color: dodgerblue;	
} 
nav ul li a:hover{
	color: dodgerblue;
	transition: 1s all;
} 
nav ul li a i{
	margin-right: 5px;
}
div.brand{
    margin: 0px;
	padding: 0px;
}
div.brand a{
    position: relative;
    left: 10px;
    color: dodgerblue;
    font-family: monospace;
   }
div.brand img{
    float: left;
  width: 300px;
  height: 250px;
    margin: 0px;
	padding: 0px;
}
#topic{
     color: dodgerblue;
     font-family: cursive;
    font-size: 2em;
     margin-left: 200px;
   }

section#start{
    background-image: url("../bg-image/lap.jpg");
    background-repeat: no-repeat;
    color:#fff;
    background-size: cover;
    overflow: hidden;
   	background-position: center;
	padding-top: 30vh;
	padding-left: 20px;
	padding-bottom: 20vh;
}
#expense{
    
    text-align: center;
    margin-top: 0px;
    margin-bottom: 200px;
     
}
 
#expense a{
    font-size: 4em;
    font-family: monospace;
    color: green;
    background-color: white;
   
    }

#expense a:hover{
    cursor: pointer;
    color: blue;
}

#todo{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
     }
 
#todo a{
    font-size: 4em;
    font-family: monospace;
    color: green;
    background-color: white;
    padding: 5px;
   }

#todo a:hover{
    cursor: pointer;
    color: blue;
    }
#book{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 0px;
}
 
#book a{
    font-size: 4em;
    font-family: monospace;
    color: green;
    background-color: white;
    }

#book a:hover{
    cursor: pointer;
    color: blue;
}
footer{
	background-color: dodgerblue;
	color: #fff;
	text-align: center;
	padding: 20px;
    font-size: 2em;
    font-family: sans-serif;
}